@use "design-system/helpers/invisible";

@use "design-system/palette";
@use "design-system/typography";

@mixin sprocket-check-answers {
  & > h2:first-child {
    margin-top: 0;
  }

  dl {
    display: table;
    width: 100%;
    table-layout: fixed;

    .answer {
      display: table-row;
    }

    dt,
    dd {
      display: table-cell;
      padding: 0.25rem 0;
      border-bottom: 2px solid palette.$grey-1;
    }

    .answer-title {
      @include typography.heading-s;

      & /* stylelint-disable-line no-duplicate-selectors */ {
        width: 30%;
        padding-right: 1rem;
      }
    }

    .answer-value {
      width: 50%;
    }

    .change-answer {
      width: 20%;
      padding-left: 1rem;
      text-align: right;

      .visually-hidden-text {
        @include invisible.invisible;
      }
    }
  }
}

%sprocket-check-answers {
  @include sprocket-check-answers;
}
